@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="app">
    <h1>Employee Benefits Deduction API</h1>
    <p class="lead">This API will be used from the VueJS frontend application to calculate employee deductions</p>
</div>
